* {
    font-size: 16px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    margin: 0;
    padding: 0 0.5rem;
}

nav {
    background-color: #2c2c2c;
    color: white;
    padding: 2rem 1rem;
    display: block;
    width: 100%;
}
nav .span {
    font-size: 2rem;
}

button {
    margin: 0;
    padding: 0.5rem;
    color: white;
    background-color: #2360b0;
    border: 1px solid #222;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
button:disabled {
    background-color: #888;
    cursor: not-allowed;
}

button:hover {
    color: #222;
    background-color: #95baea;
}

button:disabled:hover {
    color: #222;
    background-color: #dadada;
}

.alert {
    color: white;
    margin: 1rem 0;
    padding: 1rem;
    width: auto;
}
.alert.error {
    background-color: #aa3434;
}
.alert.success {
    background-color: #34aa34;
}
.alert.info {
    background-color: #3434aa;
}

@media (min-width: 587px) {
    .alert {
        max-width: 420px;
    }
}